# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.angular/cache
.angular
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
.angular/cache/angular-webpack/b7a5cffa1d41cdb000667667bc7b823181e98395/0.pack
.angular/cache/angular-webpack/b7a5cffa1d41cdb000667667bc7b823181e98395/5.pack
.angular/cache/angular-webpack/b7a5cffa1d41cdb000667667bc7b823181e98395/6.pack
.angular/cache/angular-webpack/b7a5cffa1d41cdb000667667bc7b823181e98395/index.pack
.angular/cache/angular-webpack/b7a5cffa1d41cdb000667667bc7b823181e98395/index.pack.old
